#container{
    height: 450px;
    width: 90%;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.text{
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    height: 80%;
}

.fontheight{
    font-size: 80px;
}